@model Hotel.PL.Models.UserModel

@{
    ViewData["Title"] = "Index";
}

<h1>My cabinet</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div class="btn-group mb-5" role="group" aria-label="Basic example">
    <form class=" pr-2  buttonn-form" asp-controller="MyAccount" asp-action="MyBookings" method="get">
        <div class="row">
            <div class=" col-lg-12">
                <button type="submit">My records</button>
            </div>
        </div>
    </form>
    <form class="pr-2  buttonn-form" asp-controller="MyAccount" asp-action="ChangePassword" method="get">
        <div class="row">
            <div class="col-lg-12">

                <button type="submit">Change password</button>
            </div>
        </div>
    </form>
    <form class="pr-2  buttonn-form" asp-controller="MyAccount" asp-action="Edit" asp-route-id=@Model.id method="get">
        <div class="row">
            <div class="col-lg-12">
                <button type="submit">Edit profile</button>
            </div>
        </div>
    </form>
</div>
