@model Hotel.PL.Models.RecordModel

@{
    ViewData["Title"] = "RecordDetails";
}

<h1>RecordDetails</h1>

<div>
    <h4>RecordModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserPhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserPhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Benefit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Benefit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AllRecords">Back to List</a>
</div>
