@model IEnumerable<Hotel.PL.Models.RoomModel>

@{
    ViewData["Title"] = "AllRooms";
}

<h1>Rooms list</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", item)
                <form class="buttonn-form mb-3" asp-controller="RoomBooking" asp-action="DoRecordRoom" method="get">
                    <input type="hidden" value="" />
                    <button name="id" value=@item.id.ToString() type="submit">Book this Room</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
<form method="get" asp-area="" asp-controller="FreeRooms" asp-action="FreeRoomsNow">
    <button class="btn btn-primary" type="submit">Find room to stay for today</button>
</form>
<form method="get" asp-area="" asp-controller="FreeRooms" asp-action="FreeRoomsByDate">
    <button class="btn btn-primary" type="submit">Find room to stay for one night</button>
</form>
<form method="get" asp-area="" asp-controller="FreeRooms" asp-action="FreeRoomsByDateRange">
    <button class="btn btn-primary" type="submit">Find room to stay for period</button>
</form>