@model Hotel.PL.Models.BenefitModel

@{
    ViewData["Title"] = "BenefitPeriod";
}

<h1>BenefitPeriod</h1>

<div>
    <h4>BenefitModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Benefit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Benefit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Records)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Records)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartPeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartPeriod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndPeriod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndPeriod)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="BenefitWithRecords">Back to List</a>
</div>
